body {
  background: url('https://images.unsplash.com/photo-1512820790803-83ca734da794')
    no-repeat center center/cover;
  min-height: 100vh;
}

.dark-mode {
  background-color: #111827;
  color: white;
}

input,
select {
  border-radius: 6px;
}

table {
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ccc;
}
